<% if reward.present? %>
  <div class='middle-allignment'>
    <h1>Rewards</h1>
  </div>

  <div class="middle-allignment">
    <% if reward.class == String %>
      <p><%= reward %></p>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <% reward.keys.each do |key| %>
            <tr>
              <td><%= key %></td>
              <td><%= reward[:"#{key}"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>
